@charset "UTF-8";

	
.city-picker-span_a {position: relative;display: block;outline: 0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);color: #ccc;right: 4px;
cursor: pointer;border-radius:5px;padding-left: 30px;background: url(../images/sjx_down.png) no-repeat right center #fff;background-size: auto 100%;}
.city-picker-span_a > .placeholder {color: #aaa; font-size: 15px;}

.city-picker-span_a > .arrow {position: absolute;top: 50%;right: 8px;width: 10px;margin-top: -3px;height: 5px;background: url(../images/drop-arrow.png) -10px -25px no-repeat;}
.city-picker-span_a.focus{background: url('../images/sjx_down.png')no-repeat right center #fff;background-size:auto 100%;}
.city-picker-span_a.open {background: url('../images/sjx_up.png')no-repeat right center #fff;background-size:auto 100%;}
.city-picker-span_a.open > .arrow {background-position: -10px -10px;}
.city-picker-span_a > .title > span {color: #333;padding: 5px;border-radius: 3px;}
.city-picker-span_a > .title > span:hover {background-color: #f1f8ff;}


@media (max-width:823px){
.city-picker-span_a {background: url('../images/jt_down.png')no-repeat right center #fff;background-size:22px}
.city-picker-span_a.focus{background: url('../images/jt_down.png')no-repeat right center #fff;background-size:22px;}
.city-picker-span_a.open {background: url('../images/jt_up.png')no-repeat right center #fff;background-size:22px;right: 4px;}
}
	
@media (max-width:450px){
.city-picker-span_a {background-size:18px}	
.city-picker-span_a.focus{background-size:18px}	
.city-picker-span_a.open{background-size:18px}	
}	

.a_mapbq{width: 100%;position: absolute;height: 100%;}
.sns_d{/* width: auto; */position: absolute; cursor: pointer;}
.sns_d_t3{border-radius: 5px; padding:6px; font-size: 12px;color: #fff; text-align: center; display: table; overflow: hidden; box-shadow: 0 0 10px #999;}
.sns_d_t3 h2{color: #fff; display: table;width: 100%; line-height: 22PX;}
.sns_d_t3 h3{ color: #ffffff;line-height: 22PX; border-top: #ffffff 1px solid; }
.sns_d_t3:hover{background: #ff5239; color: #ff5239;}
.sns_d_t3:hover>span{color: #ff5239;}
.snfont{font-size:12px !important; position: absolute; text-align: center; width: 100%;left: 0;}
.snfont:hover{ color: #ff5239;}


.sn_co1{background: #15a5e8;}
.snfont_1{color: #15a5e8;}

.sn_co2{background: #3bd1a2;}
.snfont_2{color: #3bd1a2;}

.sn_co3{background: #ffac4d;}
.snfont_3{color: #ffac4d;}




.tab_pop1{-webkit-appearance: none;background: url(../images/db_1.png)no-repeat right center;background-size: auto 100%; border: none;width: 40px; height: 40px;}
.tab_pop1:hover{background: url(../images/db_h.png)no-repeat right center;background-size: auto 100%;width: 40px; height: 40px}
.tab_pop2{-webkit-appearance: none;background: url(../images/db_2.png)no-repeat right center;background-size: auto 100%; border: none;width: 40px; height: 40px;}
.tab_pop2:hover{background: url(../images/db_h.png)no-repeat right center;background-size: auto 100%;width: 40px; height: 40px}
.tab_pop3{-webkit-appearance: none;background: url(../images/db_3.png)no-repeat right center;background-size: auto 100%; border: none;width: 40px; height: 40px;}
.tab_pop3:hover{background: url(../images/db_h.png)no-repeat right center;background-size: auto 100%;width: 40px; height: 40px}

.sjx_up, .open .tab_pop1{background: url(../images/db_h.png)no-repeat right center;background-size: auto 100%;width: 40px; height: 40px}
.sjx_up, .open .tab_pop2{background: url(../images/db_h.png)no-repeat right center;background-size: auto 100%;width: 40px; height: 40px}
.sjx_up, .open .tab_pop3{background: url(../images/db_h.png)no-repeat right center;background-size: auto 100%;width: 40px; height: 40px}





.tab_mu{border: none; padding: 0;min-width: 150px;bottom: 135% !important; left: -130%;}
.tab_mu_bg{width: 100%;background-image: linear-gradient(to top, #fff, #fff9e9); display: table; border-radius: 5px; padding:5px; }
.tab_mu_bg h2{ color: #f00; line-height:25px;width: calc(100% - 20px); float: left;}
.tab_mu_bg h3{ color: #333; line-height: 25px;}
.tab_mu_icon {font-size: 12px !important;position: absolute;text-align: center;width: 100%;left: 0; color: #fff; margin-top: -5px;}

.tab_gg{ position: absolute; right: 5px; top: 5px;width: 18px;}



.menu{width: 100%; margin: 0 auto; padding: 0px; display: table;}
.menu label{width:33.33%; font-weight: normal;padding:0px 10px; float: left; text-align:left;font: 15px/25px "微软雅黑"; color: #333;}
.menu label input[type=checkbox]{margin:1px 5px 2px 1px; position: relative;width:16px; height: 16px; vertical-align:bottom;}
.menu label input[type=checkbox]:before{content: " "; position:absolute; top:-1px; left:-1px;background:#fff;width:18px; height: 18px;border: 1px solid #ccc;
    border-radius:3px; display: block;}
.menu label input[type=checkbox]:checked:before{display: block;content: "\e60a";text-align: center;color: #fff;
    width:18px; height: 18px; border-radius:3px; font-size:12px; padding: 2px;border: 0;background:#26cfae;
    font-family: "iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bb{background-color: #fff;
padding-top: 22px;
}
@media (max-width: 567px){
	.bb{background-color: #f2f2f2;}

}
@media (max-width: 567px){
.modal-body_a { height: 350px !important;}
}


.menu_list label {
    float: left;
    width:100%  !important;
    font-weight: normal;
    padding: 5px 10px;
}

.nianfen{width:100%; height: auto;/* overflow-y: scroll; */}
.nianfen label{ text-align: center;width: 100%; display: table;}
.nianfen span{width:100%; margin: 0 auto;text-align:center; line-height: 34px; display: table; padding:0px 0; cursor: pointer;}
.nianfen span:hover{color: #155dbc; background: #ecf3ff;}
.nianfen .on{ color: #155dbc;background: #ecf3ff;}


